/*===== Jira: Display Filter Badge Counts =====*/
#jira span.badge {
  margin-left: 6px;
  padding: 3px 9px;
  -moz-border-radius: 9px; 
  -webkit-border-radius: 9px; 
  border-radius: 9px;
  background-color: #24a2e2;
  font-size: 12px;
  color: white;
  text-align: center;
}

/*===== Jira (Epics): Display Smart Checklists below the Description field =====*/
#jira div.sc-185kjqv-0.diozqf { /* SC Title */
	margin-top: -40px;
}

/*===== Jira, Confluence: Keep the editor tools on-screen =====*/
/* Jira: Edit Toolbar */
#jira div[data-testid="ak-editor-main-toolbar"] {
	z-index: 701;
	position: fixed;
	top: 64px;
	left: 7px;
	border: #b5cce9 1px solid;
	box-shadow: 2px 2px 6px #c6c6c6;
	background-color: #e0ecfa;
	padding: 0 0 0 10px;
	width: 690px;
	height: 50px;
}

#jira div[role="dialog"] div[data-testid="ak-editor-main-toolbar"] {
	/* Edit issue modal: Main Toolbar */
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px 4px #ddd;
	max-width: calc(100% - 140px);
	width: 1258px;
}

#jira div[data-testid="issue-create.ui.modal"] div[data-testid="ak-editor-main-toolbar"] {
	/* Create issue modal: Main Toolbar */
	z-index: 1;
	position: sticky;
	top: -1px;
	left: 0;
	border: none;
	box-shadow: none;
	background-color: #e0ecfa;
	margin: 0;
	padding: 0 0 0 10px;
	width: auto;
	max-width: none;
	height: 50px;
}

#jira div[data-testid="issue-create.ui.modal"] .css-4mp3pp-menu {	
	z-index: 800;
}

#jira div[data-role="droplistContent"] {
	min-width: 265px;
}

#jira div[data-testid="ak-editor-secondary-toolbar"] {
	z-index: 700;
	position: fixed;
	top: 64px;
	left: 717px;
	border: #b5cce9 1px solid;
	box-shadow: 2px 2px 6px #c6c6c6;
	background-color: #e0ecfa;
	padding: 9px 10px;
}

#jira div[role="dialog"] div[data-testid="ak-editor-secondary-toolbar"] {
	top: 115px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	border-top: 0;
	box-shadow: 1px 1px 4px #ddd;
	width: 150px;
	padding: 7px 9px;
}

#jira div.x1njga-6.fGAbGw {
	display: none;
}

/* Confluence: Edit Toolbar */
#com-atlassian-confluence div[data-testid="ak-editor-main-toolbar"] {
	box-shadow: 2px 2px 6px #c6c6c6;
	background-color: #e0ecfa;
}

#com-atlassian-confluence span[data-id="gpb-common"] {
	z-index: 700;
    position: fixed;
    top: 70px;
    right: 15px;
    border: #eee 1px solid;
    padding: 0 10px;
    background-color: #f5f6f8;
}
